.main-chat
  .main-header
    .main-header__left
      .main-header__left__name
        = @group.name
      %ul.groups
        Member :
        %li.group__name
          - @group.users.each do |user|
            = user.name
    .main-header__edit
      = link_to edit_group_path(@group) do
        Edit
  .messages 
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .form-for
        .input-box 
          = f.text_field :content, class: "input-box-form",placeholder: "type a message"
          = f.label :image ,class: "input-box__image", for: "message__image" do
            = icon("fa", "image")
            = f.file_field :image , id: "message__image", class: "file-field"
        .send-btn
          = f.submit "Send", class: "submit-btn"
        