.side-contents
  .side-header
    .side-header__boxs
      %p.side-header__boxs__name 
        = current_user.name
      %ul.side-header__boxs__icon
        %li.side-header__boxs__icon__edit
          = link_to new_group_path do
            = icon("fa", "edit")
        %li.side-header__boxs__icon__cog
          = link_to edit_user_path(current_user) do
            = icon("fa", "cog")
  .side-content
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) do
        .group
          %p.group__name 
            = group.name
          %p.group__message
            = group.show_last_message